@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Codystar&display=swap');

:root {
--brand-font: "Boldonse";
}


h1.logo .daz{
  font-family: "Boldonse";
  font-size: 4rem;
  letter-spacing: 0.1em;
  margin: 0;
}

h1.logo .codes{
  font-size: 0.8em;
  font-weight: bold;
  text-transform: lowercase;
  position: relative;
  top: -0.6em;
  left: -0.3em;
}

img.daz {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  border: 8px solid #efefef;
}