h1.logo .daz{
  position: relative;
  left: 1em;
  font-size: 5rem;
  color: #9800ff;
}

h1.logo .codes{
  position: relative;
  left: -1em;
  top: 0.6em;
  letter-spacing: -0.1em;
  font-weight: bold;
}

img.daz {
  max-width: 200px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  border: 8px solid #efefef;
}